<!--First we have #f="ngForm". 
The #v=thing syntax says that we want to create a local variable for this view.
Here we're creating an alias to ngForm, for this view, bound to the variable #f. 
Where did ngForm come from in the first place? It came from the NgForm directive.
And what type of object is ngForm? It is a FormGroup. 
That means we can use f as a FormGroup in our view. 
And that's exactly what we do in the (ngSubmit) output.-->


<div class="row">
  <div class="col-xs-12">
    <form id="shopping-list-add" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="item-name">Name</label>
          <input
              type="text"
              id="item-name"
              class="form-control"
              [ngModel]="item.name"
              name="name"
              required>
        </div>

        <div class="col-sm-2 form-group">
          <label for="item-amount">Amount</label>
          <input 
              type="text" 
              id="item-amount" 
              [ngModel]="item.amount"
              name="amount"
              class="form-control"
              required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" *ngIf="isAdd" [disabled] = "!f.valid">Add</button>
          <button class="btn btn-success" type="submit" *ngIf="!isAdd" [disabled] = "!f.valid">Save</button>
          <button class="btn btn-danger" type="button" *ngIf="!isAdd" (click)="onDelete()">Delete Item</button>
          <button class="btn btn-primary" type="button" *ngIf="!isAdd"(click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
